
.elle{background-image: url('https://i.imgur.com/eQm9md6.jpg');}
.code{background-image: url(https://cdn3.iconfinder.com/data/icons/luchesa-vol-9/128/Html-512.png)}
h1{
  font-family: 'Anton', sans-serif;
  width: 97%;
  border-bottom: 1px solid #333;
  text-align: left;
  color: white;
  padding-left: 20px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
}
