form {
  width: 60%;
  margin-left: 20%;
}

form fieldset legend {
  text-align: left;
  font-weight: bold;
}

form fieldset {
  text-align: left;
  margin-bottom: 20px;
  border: 2px double;
  background: rgba(204, 204, 204, 0.9);
}

form input, form textarea, form .topic {
  min-width: 98%;
  margin-bottom: 2em;
  margin-top: .3em;
  border: 1px solid #666;
  padding: 5px;
}

form textarea {
  min-height: 300px;
}

form button {
  padding: 10px;
  min-width: 100px;
  border: 1px solid #aaa;
  background: #c7e0e9;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

form button:hover {
  background: #a0b4bb;
  border: 1px solid transparent;
}

.nav li.link:hover, .nav li.link.selected {
  letter-spacing: .2em;
}

.nav li.link {
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.nav li.link.selected{
  font-weight: bold;
}

.form {
  display: none;
}


.container {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
}

.container input {display: none;}

.circle {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 50%;
  transform: scale(1.2);
  transition: all .2 ease-in-out;
}

.container:hover input ~ .circle {
  background-color: #aaa;
}

.container input:checked ~ .circle {
  background-color: #aaa;
}

.circle:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .circle:after {
  display: block;
}

.container .circle:after {
top: 3px;
left: 3px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}